/* Header */
.imagenav {
    max-width: 15%;
    justify-content: flex-start;
    display: flex;
   
}
.navigation{ display: flex;
align-items: center;
margin-bottom: 30px;
}

  
    

.navigation_menu{display: block;
justify-content: flex-end;
margin-left: auto;
}




.menu { 
    text-decoration: none;
    padding: 30px;
    justify-content: end;
color:black;
}

.menu:hover { color: #0065FC;
    text-decoration: overline;}

/******* Barre de navigation **********/    

.h1-hebergement {display: flex;
    font-size: 22px;
    font-family: Raleway;
    font-weight: 700;}

    
/* */

.search_container /* Contient les 3 éléments (button/Search/position */
{display: flex;
justify-content:flex-start;
align-items:center;
margin-bottom: 30px;
margin-top: 20px;
}

.localisation {    
    background-color :#F2F2F2;
    padding: 24px 25px;
    border-radius: 15px 0 0 15px;
    
    
   
}

.position {display: flex;
justify-content: center;}

.searchbar, input#search{
 
    font-size: 20px; 
    margin-right: 0%;
    padding-right: 50px;
    font-weight: 700;
    cursor: text;
   text-align: center;
  
}
.searchbar {border-top: solid 0.5px rgb(202, 202, 202);
border-bottom:solid 0.5px rgb(202, 202, 202) ;}

input#search {border: none;
    padding-top: 20px;
    padding-bottom: 20px;}

.fa-solid.fa-magnifying-glass
{ display: none;
}

.buttonpush {
    border-radius: 0 14px 14px 0;
    background-color:#0065FC;
    border: 0px;
    color: var(--main-bg-color);
    font-weight: bold;
    font-size: 18px;
    padding: 22px 17px 22px 17px;
    cursor: pointer;
    margin-left: -50px;

}
::placeholder {opacity: 1;
color: black}


 

 





/******* Filtres **********/  

.filtres
{ display: flex;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
}

.filtertext { font-weight: 600;
font-size: 15px;
}

.filtericons {display: flex;
border-radius: 25px;
padding: 1px 18px 1px 18px;
border: 2px solid;
border-color:#F2F2F2;
cursor: pointer;
align-items:baseline;

}

.box-filters { align-items: baseline;}

.filtertextpepite{ font-weight: 600;
    font-size: 15px;
    white-space:nowrap; }

    
.filtericons:hover {background: var(--blue-light, #DEEBFF);}
 .icons {
padding-right: 5px;

}


.filtreh3 {float: left;}

.responsive_class_economique_familial {display: flex;
    float: left;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}
.responsive_class_romantique_pepite {display: flex;
    padding: 10px;
    gap: 10px ;
    
    
} 

.textlogement {
    display: flex;
    align-items:center;
     gap: 10px;
     font-size: 16px;
     font-weight: 300;
     margin-bottom: 20px;
}


    /*******      CARDS hebergement marseille         **********/  

    
    
    .hebergement-title {  
        margin-top: 0px;
        margin-bottom: 30px;
        font-size: 22px;
        font-family: Raleway;
        font-weight: 700;}

        .container-hebergement {
            display: flex;
            flex-direction: row;
         justify-content: space-around;  
         flex-wrap: wrap;
         gap: 5px;
         margin-bottom: 5px;

        }
    .card-hebergement 
        {
    border: 3px solid white;
    background-color: white;
border-radius: 16px;
width: 30%;
height: 200px;
box-shadow: 0 4px 8px 0 rgba(6, 90, 135, 0.1);
transition: 0.3s;
cursor: pointer;
margin-bottom: 15px;



}
.card-hebergement:hover {box-shadow: 0 8px 16px 0 rgba(6, 90, 135, 0.5)}


.imagecard {
border-radius: 20px 20px 0px 0px;
width: 100%;
height: 120px;
object-fit: cover;


 }
 .canebiere{  
    font-size: 15px;
    margin: 5px;
white-space:nowrap }

   .title_hebergement{  margin: 2px;
    font-size: 15px;
white-space: nowrap; }

   .text_hebergement{  font-size: 14px;
    margin-top: 8px;
margin-bottom: 8px;
margin-left: 5px;}

.card-rating_hebergement {margin-left: 5px;}

.afficher { display:flex;
    padding-top: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
     }
     .afficher:hover { color: #0065FC; }







     /*******      CARDS Activités        **********/  
.activity_title {
margin: 30px 0px 20px 25px;}

    .container-activity {display: flex;
    flex-wrap: wrap;

   } 
     
      .card-activity {
        border : solid white;
        width: 22%;
        height: 400px ;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0 4px 8px 0 rgba(6, 90, 135, 0.1);
transition: 0.3s;
cursor: pointer;
margin: 8px;
   }

     .card-activity:hover {box-shadow: 0 8px 16px 0 rgba(6, 90, 135, 0.5)}

.image-activity{ width: 100%;
height: 90%;
border-radius: 20px 20px 0px 0px;
object-fit: cover;
   }

.name-activity{ display: flex;
padding-left: 10px;
font-size: 15px;
font-weight: 700;
white-space: nowrap;
margin-top :5px ;
margin-bottom: 0px;

  }
  
/*******      Footer        **********/  
  
.footer { background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-right: auto;
    text-decoration: none;
   
}

.footer-class { display: block;
flex-direction: column;
cursor: pointer; 
margin-right: auto;
padding-top: 10px;
padding-left: 10px;

}

.footer-weight { 
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;

    }


.footer-list { 
    text-decoration: none;
    color: black;
    display: flex;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}











/****** Icons colors ***********/

.fa-solid .fa-magnifying-glass{ color:#F2F2F2;}
.fa-solid .fa-person .icons{ color: #0065FC;}
.fa-solid .fa-money-bill .icons{ color: #0065FC;  }
.fa-solid .fa-heart .icons {color: #0065FC;}
.fa-solid .fa-fire .icons {color: #0065FC;}
.fa-solid .fa-circle-info .icons {color: #0065FC;}


/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 25px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 4px 8px 0  rgba(6, 90, 135, 0.1);
transition: 0.3s;
cursor: pointer; }

 .card:hover{box-shadow: 0 8px 16px 0 rgba(6, 90, 135, 0.5) }   


.card img {
    object-fit: cover;
    
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}
 .neutral-star {
    color:#F2F2F2;
    
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements { background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;}

    .populaires {background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Full devices max screen / max widht 1440 px */
@media screen and (max-width: 1440px) {
    .navigation_menu { font-size: 18px;}
    .textheber {font-size: 20px;}

    .localisation{ padding: 25px;}
    .buttonpush { padding-top: 23px   ;}
   
}
    


    

/* Medium and full devices (tablets, less/equal than 1024px) */
@media screen and (max-width:1024px)  {
    .navigation_menu { font-size: 18px;}
    
    .hebergements-and-populaires {flex-direction: column;}

    .hebergements {
        width: 100%;
        display: block;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        display: block;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .container-activity { flex-wrap: nowrap;
        
    }
    .card-activity { height: 220px;}
    .image-activity{ height: 80%}
    .name-activity {white-space:pre-wrap;
     
    }
}

/* Small devices (phones, less than 768px) */

@media screen and (max-width: 767.98px) {

    body {margin: 0px;}
.main-container{padding: 0%;}

    a#logo {display:flex ;
        justify-content: center;
    margin-top: 30px;}
    

 .navigation { 
    align-items: center;}

.navigation_menu  {
display: flex;
text-align: center;
width: 100%;

}

.menu {
    border-bottom:solid 3px rgb(202, 202, 202); 
    width: 100%;
    display: block;
    font-size: 20px;
    align-items: center;
    margin: auto;

 }
 .menu:hover {
    border-bottom: solid 3px #0065FC;
   border-left-width:  200px;
   
   text-decoration: overline transparent;
       
     }


     
.h1-hebergement { display:flex;
justify-content: center;
font-size: 30px;
text-align: center; }


.text_town {
text-align: center;
justify-content: center; 
font-size: 19px;}

.search_container { justify-content: center;
}
 .localisation {padding: 20px 22px;}

.searchbar { font-size: 20px;
border:none;
border-bottom:solid 1px rgb(227, 224, 224);
border-top: solid 1px rgb(227, 224, 224);

margin-right: 0%;
padding-right: 50px;
}

 .search_span  {display: none;}
 .fa-solid.fa-magnifying-glass {display: flex;
color:#DEEBFF; }

.buttonpush {  
    font-size: 25px;
border-radius:  25px 25px;
padding: 20px 20px ;
margin-left: -50px; 

}
.fa-solid.fa-location-dot.position  { font-size: 26px;}

.main-container {flex-direction: column;}

.filtreh3 { margin-left: 10%;}
.filtres {display: flex;
    align-items: center;
}
.box-filters {flex-direction: column;}

.responsive_class_economique_familial {flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   gap: 10px;
   float: none;
}
.responsive_class_romantique_pepite {flex-wrap: wrap;
align-items: center;
padding-top: 10px;
justify-content: center;
gap: 10px;}

.filtericons {width: 35%;
justify-content: center;
;}

.filtreh3 {float: none;}

.textlogement { justify-content: center;}


.hebergements {background: none;}
.populaires {   
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;}


.hebergements-and-populaires  {flex-direction:column-reverse;
    
}



.populaires-cards .card {
    align-items: center;
    width: 80%;
    
}
.populaires-cards {flex-direction: column;
    align-items: center;
}
.populaires-cards .card-rating {margin-top: 15%;}

.card-hebergement {flex-direction: column;
    width: 90%;
height: 250px;}
    .imagecard { object-position: center;
    height: 70%;}

    
    .container-hebergement {flex-direction: column;
        align-items: center; }

      .card-content  { padding-left: 5px;
   ;}  
      .text_hebergement {margin-left: 0%;
    margin-bottom: 0px;
}
      .title_hebergement {margin-left: 0%;}

      .afficher { margin-left: 5%;}
    
      .container-activity {flex-direction: column;
    align-items: center;
}
    .card-activity {width: 90%;
        height: 250px;
      
   }
   .image-activity {object-position: center;
    height: 80%;
}
   .name-activity {padding-top: 5px;}

.footer {flex-direction: column;
}
.footer-class { margin-left: 5%;}
}
    /* 500px*/

    @media screen and (max-width: 500px) { 
        .h1-hebergement {font-size: 20px;
        }  

    
        .searchbar input#search { 
            margin-right: 0%;
            padding-right: 20px;
            font-size: 12px } 


             .localisation {    padding: 19px;}
             .search_span  {display: none;}
             .fa-solid.fa-magnifying-glass {display: flex;
            color:#DEEBFF; }
            
            .buttonpush {  
                font-size: 18px;
            border-radius:  20px 20px;
            padding: 19px 17px ;
            margin-left: -42px; 
            
            }
            .fa-solid.fa-location-dot.position  { font-size: 18px;}

    }

     /* 400px*/
    @media screen and (max-width: 400px) { 

        .h1-hebergement {font-size: 18px;
        }  
        .text_town {font-size: 15px ;}

    .filtreh3 {font-size: 18px;}

    .textlogement {font-size: 15px;
    align-items: center;
    padding-left:10px;}
    .hebergement-title {font-size: 18px;}
    .activity_title {font-size: 18px;
        }
     }


